
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: var(--foreground);
  font-family: "Roboto", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-checkbox .ant-checkbox-inner {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 2px solid #FFCCDA;
  transition: background-color 0.2s, border-color 0.2s; /* Smooth transition */
}

.custom-checkbox:hover .ant-checkbox-inner {
  border-color: #FFCCDA; /* Change the border color on hover */
}

.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #FF4D7F;
  border-color: #FF4D7F;
}

.custom-checkbox:hover .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #FFCCDA; /* Change background color on hover when checked */
  border-color: #FFCCDA; /* Change border color on hover when checked */
}

.custom-checkbox .ant-checkbox-inner:after {
  border-color: #fff;
}



/* Customize player buttons */
.custom-audio-player .rhap_button-clear {
  background-color: #ff0048 !important; /* Red color */
  border-radius: 4px;
  color: white !important;
}

.custom-audio-player .rhap_button-clear:hover {
  background-color: #e6003d !important; /* Darker red */
}

/* Customize play/pause button */
.custom-audio-player .rhap_main-controls button {
  background-color: #ff0048 !important; /* Red background for play/pause */
  border-radius: 50%;
  color: white !important;
}

.custom-audio-player .rhap_main-controls button:hover {
  background-color: #e6003d !important;
}

/* Progress bar customization */
.custom-audio-player .rhap_progress-filled {
  background-color: #ff0048 !important; /* Red fill for progress */
}

.custom-audio-player .rhap_progress-indicator {
  background-color: #ff0048 !important; /* Red color for progress indicator (dot) */
}

.custom-audio-player .rhap_progress-container:hover .rhap_progress-filled {
  background-color: #e6003d !important; /* Darker red on hover */
}

.custom-audio-player .rhap_progress-container:hover .rhap_progress-indicator {
  background-color: #e6003d !important; /* Darker red indicator on hover */
}
